body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}
/* navbar css start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f1f1f;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #00adb5;
}
/* navbar start end */


/* home start  */
.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.home p {
  max-width: 600px;
  font-size: 18px;
  color: #cccccc;
}
/* home end */

section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

p {
  max-width: 700px;
  margin: auto;
  color: #cccccc;
}

/* Skills */
.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  margin: 10px 0;
  font-size: 18px;
}

/* Projects */
.project-card {
  background-color: #1f1f1f;
  padding: 20px;
  margin: 15px auto;
  width: 80%;
  border-radius: 8px;
}

/* Contact */
.contact p {
  margin: 10px 0;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
  }

  .home h1 {
    font-size: 28px;
  }

  .project-card {
    width: 95%;
  }
}